// Colors
$main-dark-color: #4D4C49;
$main-light-color: #FFFFFF;
$main-medium-color: #818181;
$hover-color: #393737;
$error-color: #F06786;
$max-width: 100%;
$content-width: 1160px;
$min-width: 320px;
$dark-bg: #494A4D;
$post-bg: #FCF6F6;
$connect-line-color: #DDDDDD;
