.menu {

  & >ul {
    display: flex;
    align-items: start;
    justify-content: space-between;
    font-family: Roboto;
    font-size: 20px;  
  }

  &__category {
    margin: 5px;
    vertical-align: top;
    width: 150px;
    list-style: none;
    min-height: 30px;
  }

  &__horizontal {
    max-width: 80%;
  }
  
  &__vertical {
    flex-direction: column;
  }

  &__list {
    min-width: 300px;

    li {
      padding: 4px 15px 0 0;

      &:first-child {
        padding-top: 8px;
      }
    }

    &-close {
      display: none;
    }

    &_li-style {
      font-size: 17px;
    }
  
  }

  &__button {
    display: block;
  }

  &__item {
    display: block;
  }

  &__post {
    display: flex;
  }
}

.menu__horizontal .menu__list {
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0;
    margin-left: 10px;
    width: 75%;
    max-width: 1000px;  
}

.menu__vertical .menu__list{
    flex-direction: column;
    padding: 40px 10px;
    width: 24%;  
}

.post {
  width: 1000px;
  height: 500px;
  border: 1px solid $dark-bg;
  padding: 30px;
  overflow: scroll;

  &__title {
    font-size: 30px;
    text-align: center;
  }

  &__description {
    font-size: 20px;
    margin-top: 20px;
  }
}

.active-post {
  text-shadow: 0 0 10px $hover-color;
}

.fixed {
  display: inline-block !important;
  flex-direction: column;
  vertical-align: top;
  justify-content: space-between;
  // width: 100%;
  // height: 100px;

}

